.StoreMenuItem {
    padding: 20px 0;
    width: 100%;
    height: 50px;
    text-align: center;
    display: block;
    font-size: xx-large;
    font-weight: 900;
    border-bottom: 1px solid #FFEFD5;
}

.Active, .Active div, .StoreMenuItem:hover{
    background-color: white;
    color: darkmagenta;
}

a {
    text-decoration: none;
    color: black;
}